body {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 100;
  font-family: "Roboto", "Arial", sans-serif;

  background-color: #849d8f;
}

h1 {
  font-size: 60px;
  line-height: 60.35px;
  color: #000000;
  font-weight: 600;
  font-family: "Roboto Black", "Arial", sans-serif;
}

h2 {
  font-size: 35px;
  line-height: 41px;
  color: #000000;
  font-weight: 500;
  font-family: "Roboto Bold", "Arial", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  margin: 0 2.3%;
}

.container--footer {
  font-size: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  display: inline-block;
  margin-right: 2.3%;
  vertical-align: top;
  font-size: 16px;
}

.column--one-quarter {
  width: 23.27%;
}

.column--two-quarters {
  width: 48.84%;
}

.column--three-quarters {
  width: 74.41%;
}

.column--four-quarters {
  width: 100%;
}

.column--footer {
  vertical-align: middle;
}

.btn {
  display: inline-block;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 100;
  font-family: "Roboto", "Arial", sans-serif;
  text-shadow: 2px 2px 1px #ca3f26;

  border-radius: 20px;
  background-image: linear-gradient(to bottom, #f26843, #e74b36);
  box-shadow: 0 2px 2px 0 #ac5a49;
}

header {
  padding-top: 10px;
  margin-bottom: 5px;
}

.logo {
  float: left;
  margin-right: 13px;
}

.navigation {
  float: left;
}

.navigation__list {
  padding: 15px 0;

  list-style: none;
  font-size: 0;
}

.navigation__item {
  display: inline-block;
  margin-right: 2px;

  vertical-align: top;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  position: relative;

  display: block;
  padding: 7px 12px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto Bold", "Arial", sans-serif;
  text-decoration: none;
}

.navigation__link:hover {
  color: #363636;
}

.navigation__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  display: none;
  width: 100%;
  height: 100%;

  background-color: #ffffff;
  border-radius: 20px;
}

.navigation__link:hover::before {
  display: block;
}

.navigation__link::after {
  content: "";
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 8px;

  height: 1px;

  background-color: #ffffff;
  opacity: 0.2;
}

.navigation__link:hover::after {
  display: none;
}

a.navigation__link:active::before {
  box-shadow: inset 0 3px 3px 0 #696968;
}

.navigation__item--active .navigation__link::before {
  display: block;

  background-color: #ba6f5a;
}

.navigation__item--active a.navigation__link {
  color: #ffffff;

  cursor: auto;
}

.navigation__item--active a.navigation__link::after {
  display: none;
}

.user-block {
  float: right;
  margin-top: 13px;

  text-align: right;
  font-size: 0;
}

.user-block__item {
  display: inline-block;
  margin-right: 10px;

  vertical-align: top;
  list-style:none;
}

.user-block__item--cart {
  margin-right: 0;
}

.btn--search {
  width: 32px;
  height: 32px;

  background-color: #a1b5aa;
  background-image: url("../img/icon__search--loupe.svg");
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 50%;
  box-shadow: none;

  font-size: 0;
  text-shadow: none;
}

.btn--search:hover {
  background-color: #ffffff;
  background-image: url("../img/icon__search--loupe-black.svg");
}

.btn--login {
  position: relative;

  width: 90px;
  min-height: 32px;
  padding: 7px 15px;
  padding-left: 45px;
  padding-top: 8px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: "Roboto Medium", "Arial", sans-serif;
  text-decoration: none;
  text-align: left;
  text-shadow: none;

  background-color: #a1b5aa;
  background-image: none;
  box-shadow: none;
}

.btn--login::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 5px;

  width: 20px;
  height: 20px;
  background-image: url("../img/icon__user--login.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.btn--login:hover {
  color: #353535;

  background-color: #ffffff;
}

.btn--login:hover::before {
  background-image: url("../img/icon__user--login-black.svg");
}

.btn--cart {
  position: relative;

  width: 116px;
  min-height: 32px;
  padding: 7px 15px;
  padding-left: 45px;
  padding-top: 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: "Roboto Medium", "Arial", sans-serif;
  text-decoration: none;
  text-align: left;
  text-shadow: none;

  background-color: #a1b5aa;
  background-image: none;
  box-shadow: none;
}

.btn--cart::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 5px;
  z-index: 1;

  width: 21px;
  height: 20px;
  background-image: url("../img/icon__cart--white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21px 20px;
}

.btn--cart:hover {
  color: #353535;

  background-color: #ffffff;
}

.btn--cart:hover::before {
  background-image: url("../img/icon__cart--black.svg");
}

.btn--full-cart::after {
  content: "";
  position: absolute;
  left: 19px;
  top: 8px;

  width: 16px;
  height: 11px;

  background-image: url("../img/icon__cart--full.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 11px;
}

.worktime-phone-block {
  position: absolute;
  top: 63px;
  right: 0;
  z-index: 1;

  text-align: right;
}

.worktime-phone-block__worktime {
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto Bold", "Arial", sans-serif;
}

.worktime-phone-block__phone a {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto Black", "Arial", sans-serif;
  text-decoration: none;
}

.main-offer {
  position: relative;
  height: 584px;

  background-image: url("../img/bg__main-offer--ice-cream.png"),
                    linear-gradient(to right, #849d8f, transparent 50%, #849d8f),
                    linear-gradient(to top, transparent, #caf0dc 50%, transparent);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 647px 584px, cover, cover;

  text-align: center;
}

.main-offer__title {
  position: absolute;
  left: 50%;
  top: 310px;

  width: 670px;

  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  font-family: "Roboto Black", "Arial", sans-serif;

  transform: translateX(-50%);
}

.btn--main-offer {
  position: absolute;
  left: 50%;
  top: 460px;

  padding: 10px 35px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  font-family: "Roboto Bold", "Arial", sans-serif;
  text-decoration: none;

  border-radius: 40px;

  transform: translateX(-50%);
}

.slider {
  position: absolute;
  left: 0;
  bottom: 80px;
}

.slider__btn {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin-right: 5px;

  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

input[name="slider"]:checked + .slider__btn {
  background-color: #ffffff;
}

.banners {
  font-size: 0;
}

.content {
  font-size: 16px;
}

.banners .content:last-of-type {
  margin-right: 0;
}

.btn--offer {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

.products {
  font-size: 0;
}

.product {
  font-size: 16px;
}

.products .product:nth-of-type(4n+1) {
  margin-left: 0;
}

.products .product:nth-of-type(4n) {
  margin-right: 0;
}

.product__image {
  position: relative;
}

.product__price {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.product__title {
  text-align: center;
}

.content--about {
  font-size: 0;
}

.content__title {
  font-size: 20px;
}

.content__text {
  font-size: 16px;
}

.content__text--about {
  display: inline-block;
  width: 48.9%;
  vertical-align: top;
}

.content .content__text--about:nth-of-type(odd) {
  margin-right: 2.2%;
}

.contacts {
  float: right;
  margin-right: 2.3%;
}

.social__list {
  font-size: 0;
}

.social__item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  list-style: none;
  font-size: 16px;
}

.footer-menu__list {
  font-size: 0;
}

.footer-menu__item {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  list-style: none;
  font-size: 16px;
}

.copyright {
  margin-right: 0;
  text-align: right;
}

.breadcrumbs {
  font-size: 0;
}

.breadcrumbs__item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  list-style: none;
  font-size: 16px;
}

.page-title {
  font-size: 30px;
}

.filter {
  width: 75%;
  margin-bottom: 20px;
}

.filter__form {
  font-size: 0;
}

.filter__item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  font-size: 16px;
}

.paginator {
  text-align: right;
}

.paginator__list {
  font-size: 0;
}

.paginator__item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  list-style: none;
  font-size: 16px;
}

.map {
  width: 100%;
  height: 430px;
  background-image: url("../img/bg__map--offline-shop.png");
  background-size: contain;
  background-repeat: no-repeat;
}
