body {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 100;
  font-family: "Roboto", "Arial", sans-serif;
}

h1 {
  font-size: 60px;
  line-height: 60.35px;
  color: #000000;
  font-weight: 600;
  font-family: "Roboto Black", "Arial", sans-serif;
}

h2 {
  font-size: 35px;
  line-height: 41px;
  color: #000000;
  font-weight: 500;
  font-family: "Roboto Bold", "Arial", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  margin: 0 2.3%;
}

.container--footer {
  font-size: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  display: inline-block;
  margin-right: 2.3%;
  vertical-align: top;
  font-size: 16px;
}

.column--one-quarter {
  width: 23.27%;
}

.column--two-quarters {
  width: 48.84%;
}

.column--three-quarters {
  width: 74.41%;
}

.column--four-quarters {
  width: 100%;
}

.column--footer {
  vertical-align: middle;
}

.logo {
  float: left;
}

.navigation {
  float: left;
  min-width: 44.4%;
  max-width: 66.6%;
  width: auto;
}

.navigation__list {
  font-size: 0;
}

.navigation__item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  list-style: none;
  font-size: 16px;
}

.user-block {
  float: right;
  min-width: 22.2%;
  max-width: 44.4%;
  text-align: right;
  font-size: 0;
}

.user-block__item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  list-style:none;
  font-size: 16px;
}

.worktime-phone-block {
  position: absolute;
  top: 100%;
  right: 0;
}

.main-offer {
  position: relative;
  text-align: center;
}

.slider {
  position: absolute;
  bottom: 0;
  left: 0;
}

.banners {
  font-size: 0;
}

.content {
  font-size: 16px;
}

.banners .content:last-of-type {
  margin-right: 0;
}

.btn--offer {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

.products {
  font-size: 0;
}

.product {
  font-size: 16px;
}

.products .product:nth-of-type(4n+1) {
  margin-left: 0;
}

.products .product:nth-of-type(4n) {
  margin-right: 0;
}

.product__image {
  position: relative;
}

.product__price {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.product__title {
  text-align: center;
}

.content--about {
  font-size: 0;
}

.content__title {
  font-size: 20px;
}

.content__text {
  font-size: 16px;
}

.content__text--about {
  display: inline-block;
  width: 48.9%;
  vertical-align: top;
}

.content .content__text--about:nth-of-type(odd) {
  margin-right: 2.2%;
}

.contacts {
  float: right;
  margin-right: 2.3%;
}

.social__list {
  font-size: 0;
}

.social__item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  list-style: none;
  font-size: 16px;
}

.footer-menu__list {
  font-size: 0;
}

.footer-menu__item {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  list-style: none;
  font-size: 16px;
}

.copyright {
  margin-right: 0;
  text-align: right;
}

.breadcrumbs {
  font-size: 0;
}

.breadcrumbs__item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  list-style: none;
  font-size: 16px;
}

.page-title {
  font-size: 30px;
}

.filter {
  width: 75%;
  margin-bottom: 20px;
}

.filter__form {
  font-size: 0;
}

.filter__item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  font-size: 16px;
}

.paginator {
  text-align: right;
}

.paginator__list {
  font-size: 0;
}

.paginator__item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  list-style: none;
  font-size: 16px;
}

.map {
  width: 100%;
  height: 430px;
  background-image: url("../img/bg__map--offline-shop.png");
  background-size: contain;
  background-repeat: no-repeat;
}
