* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 100;
  font-family: "Roboto", "Arial", sans-serif;
}

h1 {
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto Black", "Arial", sans-serif;
}

h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto Bold", "Arial", sans-serif;
}

.container {
  position: relative;
  box-sizing: border-box;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  font-size: 0;
}

.row__column {
  display: inline-block;
  margin-right: 2.2%;
  vertical-align: top;
}

.container .row .row__column:first-of-type {
  margin-left: 2.3%;
}

.container .row .row__column:last-of-type {
  margin-right: 2.3%;
}

.row__column--size1 {
  width: 22.2%;
}

.row__column--size2 {
  width: 46.6%;
}

.row__column--size3 {
  width: 71%;
}

.row__column--size4 {
  width: 95.4%;
}

.navigation {
  float: left;
  min-width: 44.4%;
  max-width: 66.6%;
  width: auto;
}

.navigation__item {
  display: inline-block;
  margin-right: 10px;
  list-style: none;
  vertical-align: middle;
}

.user-block {
  float: right;
  min-width: 22.2%;
  max-width: 44.4%;
  text-align: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.user-block__item {
  display: inline-block;
  margin-right: 10px;
  list-style:none;
}

.worktime-phone-block {
  position: absolute;
  top: 100%;
  right: 0;
  margin-right: 2.3%;
}

.main-offer {
  position: relative;
  text-align: center;
}

.slider {
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn--offer {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

.product__image {
  position: relative;
}

.product__price {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.product__title {
  text-align: center;
}

.content__text--about {
  display: inline-block;
  width: 48.72%;
  vertical-align: top;
}

.row > .content__text--about:first-of-type {
  margin-right: 2.56%;
}

.contacts {
  margin: 0 -10px;
}

.contacts::after {
  content: "";
  display: table;
  clear: both;
}

.contacts__info {
  float: right;
  width: 35%;
  margin: 20px 0;
}

footer .row__column {
  vertical-align: middle;
}

.social {
  font-size: 0;
}

.social__item {
  display: inline-block;
  margin-right: 10px;
  list-style: none;
}

.footer-menu {
  font-size: 0;
}

.footer-menu__item {
  display: inline-block;
  width: 50%;
  list-style: none;
}

.breadcrumbs__item {
  display: inline-block;
  margin-right: 10px;
  list-style: none;
}

.filter {
  width: 75%;
  margin-bottom: 20px;
}

.filter__item {
  display: inline-block;
  margin-right: 10px;
}

.paginator {
  text-align: right;
}

.paginator__item {
  display: inline-block;
  margin-right: 10px;
  list-style: none;
}

.page-title {
  font-size: 30px;
}

.copyright {
  text-align: right;
}

.map {
  width: 100%;
  height: 430px;
  background-image: url("../img/bg__map--offline-shop.png");
  background-size: contain;
  background-repeat: no-repeat;
}

p, span, a, div, section, label, li, form {
  font-size: 16px;
}
